*{
    margin: 0;
    padding: 0;
    /*tipo de letras*/
    font-family: 'Quicksand', sans-serif;
}
body{
    background: white;
}
header{
    background: url('../img/header.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* Menú */
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    text-align: center;
    list-style: none;
}
nav ul li{
    /*transforma de bloque a línea*/
    display: inline-block;
    /*para separar los componentes de la lista*/
    padding: 25px;
}
nav ul li a{
        /*quita el subrayado*/
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 24px;
}


/* Header */
.contenedor-titulo{
    /*centrar verticalmente*/
    /* height : 100vh 100% de la pantalla*/
    height: 100vh;
    align-items: center;

    /*centrar horizontalmente*/
    display: flex;
    justify-content: center;
}

.contenedor-titulo h1{
    font-size: 36px;
    color: white;
    padding: 40px 50px;
    border: 10px double white;
}



/* main - principal */
article{
    padding-top: 50px;
    text-align: center;
}
article h2{
    font-size: 32px;
    padding: 0 0 30px 0;
    /*
    padding-block: 30px ;
    */
}
article p{
    font-size: 16px;
}
blockquote{
    padding-top: 20px;
    font-size: 16px;
    font-style: italic;
}


/* main - tabla */
.con-tabla{
    width: 100%;
    display: inline-block;
}
.con-tabla table{
    width: 100%;
    text-align: center;
}
table{
    padding-top: 10px;
    padding-bottom: 10px;
}
table th{
    padding-top: 10px;
}
table td{
    padding-top: 10px;
}

/* main - llamada */
.llamada{
    background: url('../img/llamada.jpg');
    width: 100%;
    height: 150px;
    background-position: center;
    /*cover => para que se adapte al navegador*/
    background-size: cover;
    /*fixed => para que la img se quede fijo mientras se mueve la pag web*/
    background-attachment: fixed;
    padding-top: 20px;
}
.llamada-texto{
    text-align: center;
}
.llamada-texto h3{
    font-size: 32px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.llamada-texto button{
    padding: 10px;
    background: #ffa630;
    color: white;
    font-size: 18px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*dotted, dashed, solid, double, groove, ridge, inset, outset */
    border: none;
    /*border-radius: 4px 4px 4px 4px;*/
    /* Arriba<-, Arriba->, Abajo->, Abajo<-*/
    /*border-radius: 50% = circular*/
    border-radius: 4px 4px 4px 4px;
    transition: all .3s ease;
}

button:hover{
    transform: scale(1.1);
}

/* footer */
footer{
    background:#152537;
    height: 50px;
    text-align: center;
    padding-top: 15px;

}
footer p{
    color: white;
}